html, body {
  background-color: #fff;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

@media (min-width: 720px) {
  .container {
    width: 720px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
  }
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px
}
